@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%; /* Black */
    --foreground: 0 0% 98%; /* Almost white for text */

    --card: 210 10% 15%;
    --card-foreground: 0 0% 98%;

    --popover: 210 10% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 194 25% 42%; /* #4A646C - Deep Space Sparkle */
    --primary-foreground: 0 0% 98%;

    --secondary: 210 10% 23%;
    --secondary-foreground: 0 0% 98%;

    --muted: 210 10% 23%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 247 100% 80%; /* #A99BFF - Hologram Violet */
    --accent-foreground: 0 0% 9%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;

    --border: 210 10% 23%;
    --input: 210 10% 23%;
    --ring: 247 100% 80%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%; /* Black */
    --foreground: 0 0% 98%; /* Almost white for text */

    --card: 210 10% 15%;
    --card-foreground: 0 0% 98%;

    --popover: 210 10% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 194 25% 42%; /* #4A646C - Deep Space Sparkle */
    --primary-foreground: 0 0% 98%;

    --secondary: 210 10% 23%;
    --secondary-foreground: 0 0% 98%;

    --muted: 210 10% 23%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 247 100% 80%; /* #A99BFF - Hologram Violet */
    --accent-foreground: 0 0% 9%;

    --destructive: 0 72% 51%; /* Brighter red for destructive actions */
    --destructive-foreground: 0 0% 98%;

    --border: 210 10% 29%;
    --input: 210 10% 18%;
    --ring: 247 100% 85%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
